# LangChain Core
langchain
langchain-core

# Google Gemini (PaLM) Integration
langchain-google-genai>=3.0.0
google-generativeai>=0.8.0

# Environment Variable Management
python-dotenv

# streamlit for Prompt Apps
streamlit
